@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 300%;
	background: #CFFF24;
}

h2{
	font-wight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}
body{
	font-wight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	
}